.contain,
.audio_card,
.image_discription {
  display: flex;
}

.contain {
  flex-direction: column;
}

.audio_card {
  justify-content: space-between;
  padding-right: 40px;
}

.image_discription {
  gap: 10px;
  flex-wrap: wrap;
}
