.contain{
    min-height: calc(100vh - 180px);
}
.breakdown{
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-evenly;
    text-align: center;
}
.header{
    text-align: center;
}
