.contain{
    text-align: center;
}
.card_contian{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap:20px;
    padding: 5px; */
}
/* .image_size{
    height: 200px;
    width: 200px;
} */