.main_nav {
  position: sticky; /* Sticky positioning */
  top: 0; /* Stick to the top of the viewport */
  background-color: black; /* Background color */
  height: 60px; /* Height of the navigation bar */
  color: azure; /* Text color */
  display: flex; /* Flexbox layout */
  justify-content: space-evenly; /* Evenly distribute items horizontally */
  flex-wrap: wrap; /* Allow wrapping of items */
  align-items: center; /* Center align items vertically */
  z-index: 10; /* Stack above other content */
}

.main_nav_sub {
  position: sticky; /* Sticky positioning */
  top: 0; /* Stick to the top of the viewport */
  background-color: black; /* Background color */
  width: 100%; /* Full width */
  /* height: 60px; */ /* You can uncomment this if needed */
  color: azure; /* Text color */
  display: flex; /* Flexbox layout */
  justify-content: space-evenly; /* Evenly distribute items horizontally */
  flex-wrap: wrap; /* Allow wrapping of items */
  align-items: center; /* Center align items vertically */
  z-index: 10; /* Stack above other content */
}
.search_contain{
  display: flex;
  justify-content: space-between;
  width: 69%;
  
}
.search {
  display: flex; /* Flexbox layout */
  width: 42em;
}
@media (max-width: 768px){
  .search_contain{
    width: 95%;
  }
  .search {
    width: 18em;
  }
}
.search_bar {
  width: 100%; /* Full width for the search bar */
}

.menu,
.logo {
  text-align: center; /* Center align text */
  cursor: pointer; /* Cursor pointer on hover */
}
.model{
  position: fixed;           /* Position the modal fixed to the viewport */
  top: 0;                   /* Align to the top */
  left: 0;                  /* Align to the left */
  width: 100vw;             /* Full width */
  height: 100vh;            /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the modal */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  display: flex;            /* Use flexbox for centering content */
  align-items: center;      /* Center content vertically */
  justify-content: center;  /* Center content horizontally */
  z-index: 1000;           /* Ensure it appears above other elements */
  visibility: hidden;       /* Initially hidden */
  opacity: 0;               /* Initially invisible */
  transition: visibility 0s, opacity 0.3s ease;
}
.model.visible {
  visibility: visible; /* Show the modal */
  opacity: 1;         /* Fade in */
}

.modal_content {
  background: white; /* Ensure the content is visible against the background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}