.main_nav {
  position: sticky; /* Sticky positioning */
  top: 0; /* Stick to the top of the viewport */
  background-color: black; /* Background color */
  height: 60px; /* Height of the navigation bar */
  color: azure; /* Text color */
  display: flex; /* Flexbox layout */
  justify-content: space-evenly; /* Evenly distribute items horizontally */
  flex-wrap: wrap; /* Allow wrapping of items */
  align-items: center; /* Center align items vertically */
  z-index: 10; /* Stack above other content */
}

.main_nav_sub {
  position: sticky; /* Sticky positioning */
  top: 0; /* Stick to the top of the viewport */
  background-color: black; /* Background color */
  width: 100%; /* Full width */
  /* height: 60px; */ /* You can uncomment this if needed */
  color: azure; /* Text color */
  display: flex; /* Flexbox layout */
  justify-content: space-evenly; /* Evenly distribute items horizontally */
  flex-wrap: wrap; /* Allow wrapping of items */
  align-items: center; /* Center align items vertically */
  z-index: 10; /* Stack above other content */
}

.search {
  display: flex; /* Flexbox layout */
}

.search_bar {
  width: 100%; /* Full width for the search bar */
}

.menu,
.logo {
  text-align: center; /* Center align text */
  cursor: pointer; /* Cursor pointer on hover */
}
